// ---------------------------------------------------------===
// Forms
// ---------------------------------------------------------===

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.error-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}


input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
div.input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid color(white,3);
  background-color: color(white,3);
  padding: 6px 12px;
  width: 100%;
  height: 56px;
  outline: none;
  margin-bottom: 20px;
  font-size: 16px;
  @include animate(border-color background-color);

  @include media('<tablet') {
    height: 45px;
    margin-bottom: 10px;
  }
  
  &:focus,
  &:hover,
  &.input-filled {
    border-color: $black;
    background-color: $white;
  }

  &.error {
    border-color: $red;
    background-color: rgba($red,.05);
  }
  
  @include placeholder {
    color: color(gray,2);
  }
}

div.input {
  padding-top: 17px;
  @include media('<tablet') {
    padding-top: 12px;
  }
}

label.error {
  display: block;
  margin: -15px 0 10px;
  font-weight: 200;
  font-size: 15px;
  color: $red;

  @include media('<tablet') {
    margin-top: -5px;
  }
}

select {
  border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  appearance: none;
  border-radius: 0;
  cursor: pointer;
}

@if $niceSelect {
  .nice-select {
    position: relative;
    font-size: 16px;
    line-height: 1.3;
    display: inline-block;
    vertical-align: top;

    [data-select] {
      display: block;
      border: 1px solid $black;
      border-radius: 3px;
      color: rgba(#4A4A4A, .46);
      background-color: $white;
      padding: 9px 33px 9px 15px;
      position: relative;
      text-decoration: none;
      @extend .ellipsis;
      @include animate(color);

      &:after {
        content: '\e901';
        font: 7px/1 icomoon;
        right: 13px;
        color: color(black);
        @include box-align(vc);
      }

      &.active,
      &.selected,
      &:hover {
        color: color(black);
      }

      &.active {
        &:after { content: '\e900'; }
      }
    }

    ul {
      @extend %listreset;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid $black;
      background-color: $white;
      box-shadow: 0 0 5px color(black, 1a2);
      box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.3);
      margin-top: -2px;
      border-radius: 0 0 3px 3px;

      li {
        border-bottom: 1px solid color(black, 1a2);

        &:last-child {
          border-bottom: none;
        }
      }

      a {
        text-decoration: none;
        display: block;
        color: color(black);
        padding: 10px 14px;
        @include animate(color background-color);
      }

      .active a,
      a:hover {
        background-color: color(black);
        color: $white;
      }
    }
  }
}

@if $niceCheckRadio {
  .nice-form {
    display: inline-block;
    vertical-align: top;

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      visibility: hidden;
      opacity: 0;

      &:checked ~ .nice-label:before,
      & ~ .nice-label:hover:before {
        border-color: color(black);
      }
    }

    input[type="checkbox"],
    input[type="radio"].square {
      & ~ .nice-label:before {
        border-radius: 2px;
      }

      &:checked ~ .nice-label:before {
        // content: '\e902';
        background-color: color(black);
        color: $white;
      }
    }

    input[type="radio"] {
      & ~ .nice-label:before {
        border-radius: 50%;
      }

      &:checked ~ .nice-label:before {
        background-color: transparent;
        content: '\e917';
        color: color(black);
        font-size: 12px;
        padding-left: 1px;
      }
    }

    .nice-label {
      padding-left: 36px;
      display: block;
      position: relative;
      font-size: 16px;


      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        border: 2px solid $black;
        background-color: $white;
        font: 10px/1 icomoon;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        @include animate(border-color background-color color);
      }
    }
  }
}